@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

/* CARD-1 */

.card-1 {
    position: relative;
    width: 320px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-1:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 15px);
    width: 100%;
    height: 100%;
    background-color: #56c9ff;
    z-index: 1;
    transition: .5s;
}

.card-1:hover:before {
    bottom: 0;
}

.content-1 {
    position: relative;
    text-transform: capitalize;
    color: #777;
    z-index: 2;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.content-1 h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}

.content-1 p {
    font-size: 18px;
    text-align: center;
}

.content-1 a {
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.card-1:hover .content-1 {
    color: #fff;
}



/* CARD-2 */

.card-2 {
    margin-top: 150px;
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: .3s;
    padding: 20px 40px;
}

.imgbox-2 {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    z-index: 1;
}

.imgbox-2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-2:hover {
    height: 400px;
}

.content-2 {
    padding: 0 20px;
    text-align: center;
    color: #111;
    transition: .3s;
    transform: translateY(-500px);
    opacity: 0;
}


.card-2:hover .content-2 {
    opacity: 1;
    transform: translateY(-200px);
}


/* CARD-3 */

.card-3 {
    margin-top: 200px;
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #0A262E, #386674);
    border-radius: 20px;
}

.card-3 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: .5s;
}

.card-3:hover img {
    height: 450px;
    left: 80%;
}

.content-3 {
    position: relative;
    width: 40%;
    left: 20%;
    color: #fff;
    text-transform: capitalize;
    transition: .5s;
    opacity: 0;
}

.card-3:hover .content-3 {
    left: 5%;
    opacity: 1;
}

.content-3 h2 {
    margin: 0;
    padding: 0;
}

.content-3 p {
    margin-bottom: 20px;
}

.content-3 a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 5px 10px;
    background: #fff;
    text-decoration: none;
    border-radius: 10px;
}





/* CARD-4 */

.card-4 {
    margin-top: 200px;
    position: relative;
    width: 300px;
    height: 400px;
    transition: .5s;
}

.card-4:hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
    border: 2px solid #013d4a;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1 {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color: #013d4a;
}

.face1 h2 {
    margin-top: 80px;
}

.face1 a {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #013d4a;
    border: 2px solid #013d4a;
    text-transform: capitalize;
    font-weight: bold;
    transition: .3s;
}

.face2 {
    background-color: #013d4a;
    transition: .5s;
}

.face2 h2 {
    font-size: 120px;
    color: #fff;
    transition: .5s;
}

.card-4:hover .face2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 2px solid #013d4a;
}

.card-4:hover .face2 h2{
    color: #013d4a;
    font-size: 32px;
}

.card-4 a:hover {
    background-color: #013d4a;
    color: #fff;
}






/* CARD-5 */

.card-5 {
    margin-top: 50px;
    position: relative;
    width: 300px;
    transition: .5s;
    cursor: pointer;
}

.face-5 {
    position: relative;
    width: 300px;
    height: 240px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    transform: translateY(100px);
    z-index: 1;
}

.face-5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-5:hover .face-5 {
    background-color: #0099ff;
    transform: translateY(0);
}

.face-52 {
    position: relative;
    width: 300px;
    height: 195px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transition: .5s;
    transform: translateY(-100px);
}


.card-5:hover .face-52 {
    transform: translateY(0);
}

.imgbox-5 {
    opacity: 0.2;
    transition: .5s;
}

.card-5:hover .imgbox-5 {
    opacity: 1;
}

.card-5 a {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #777;
    padding: 5px;
    border: 1px solid #777;
}

.content-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-5 a:hover {
    background-color: #777;
    color: #fff;
} 